.header {
  position: fixed;
  top: -1rem;
  left: 0;
  right: 0;
  padding: 2.4rem 1.2rem 0.5rem;
  z-index: 50;

  &.active {
    background: $pcF;
    box-shadow: 0 0.1rem 0 rgba(0, 0, 0, 0.08);
  }
}

.footer {
  position: relative;
  padding: 3.2rem 2rem 4.8rem 3rem;
  background-color: $pcF9;

  .wrap-links {
    margin-left: -2.2rem;
    text-align: left;

    .item {
      display: inline-block;
      margin-top: 1.6rem;
      margin-left: 2.2rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.9rem;
      letter-spacing: 0;
      color: $pc4;
    }
  }
  .wrap-info {
    margin-top: 2rem;
    text-align: left;

    .item {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.5rem;
      color: $pc9;
      letter-spacing: 0;

      .item-inner {
        position: relative;
        display: inline-block;

        &:not(:first-of-type) {
          padding-left: 2.1rem;

          &:after {
            content: "";
            position: absolute;
            left: 1rem;
            top: 50%;
            margin-top: -0.6rem;
            width: 0.1rem;
            height: 1.2rem;
            background-color: $pcD;
          }
        }
      }
    }
  }
  .copyright {
    margin-top: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $pc9;
    letter-spacing: 0;
  }
  .logo-footer {
    margin-top: 2.4rem;
  }
}

.logo {
  width: 9.8rem;
  height: 4.5rem;
  background: url(../img/logo.svg) 0 0 / 100% auto no-repeat;
  filter: brightness(100);
  @include blind();

  &.active {
    filter: unset;
  }
}

.logo-footer {
  display: inline-block;
  width: 7.1rem;
  height: 3.3rem;
  background: url(../img/logo-footer.svg) 0 0 / 100% auto no-repeat;
  @include blind();
}

.btn-type1 {
  display: inline-block;
  width: 13.6rem;
  border-radius: 10rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: $pc1;
  text-align: center;
  line-height: 5.2rem;
  background-color: $pcF;
}

.floating-wrap {
  position: relative;

  .floating {
    position: fixed;
    left: 50%;
    bottom: 4rem;
    margin-left: -6.8rem;
    letter-spacing: 0;

    &.active {
      .btn-type1 {
        color: $pcF;
        background-color: $pcR;
      }
    }
    &.fix {
      position: absolute;
    }
  }

  // .floating {
  //   position: sticky;
  //   left: 50%;
  //   top: 1rem;
  //   margin-left: -6.8rem;
  //   letter-spacing: 0;
  // }
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66.7rem; // 디자인 높이

  .section-inner {
  }
  .box-text {
    text-align: center;

    .title {
      font-size: 2.8rem;
      font-weight: 700;
      line-height: 3.2rem;
      color: $pc1;
      letter-spacing: 0;
    }
    .desc {
      margin-top: 1.2rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;
      color: $pc4;
      letter-spacing: 0;
    }
    .sub-title {
      margin-bottom: 1.2rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;
      color: $pc4;
      letter-spacing: 0;
    }
  }
  // .box-img {
  //   text-align: center;
  // }
  &.section1 {
    height: 100vh;
    background: url(../img/m-bg-visual.png) 0 0 / 100% auto no-repeat;

    .section-inner {
      margin-top: 2rem;
    }
    .box-text {
      .title {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 3.8rem;
        color: $pcF;
      }
    }
    .box-img {
      margin-top: 3rem;
    }
    .wrap-imgs {
      position: relative;
      width: 34rem;
      height: 34rem;
    }
    .section-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 34rem;
      opacity: 0;
      transition: opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1);

      &.active {
        opacity: 1;
        transition: opacity 0.8s cubic-bezier(0.65, 0, 0.35, 1);
      }
    }

    .wrap-word {
      position: relative;
      display: inline-block;
      width: 2em;
      height: 3.8rem;
      margin-left: 0.25em;
      line-height: 3.8rem;
      vertical-align: top;

      .item {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(0.2em);
        transition: opacity 0.3s cubic-bezier(0.65, 0, 0.35, 1), transform 0.6s 1.5s cubic-bezier(0.65, 0, 0.35, 1);

        &.active {
          opacity: 1;
          transform: translateY(0);
          transition: opacity 0.6s cubic-bezier(0.65, 0, 0.35, 1), transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
        }
      }
    }
  }

  &.section2 {
    .section-inner {
      margin-top: 1.4rem;
    }
    .section-img {
      width: 36rem;
    }
  }

  &.section3 {
    .section-inner {
      margin-top: 3rem;
    }
    .section-img {
      margin-top: 1.5rem;
    }
  }

  &.section4 {
    .section-inner {
      // margin-top: 0rem;
    }
    .section-img {
      width: 36rem;
      // margin-top: 4rem;
    }
  }

  &.section5 {
    .section-inner {
      margin-top: -6rem;
    }
    .box-text {
      .title {
        line-height: 3.6rem;
      }
    }
  }
}
